<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django</title>

    {% load static %}

    <link href="{% static "appli/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "appli/css/metisMenu.css" %}" rel="stylesheet">
    <link href="{% static "appli/css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "appli/css/style.css" %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/css/uikit.min.css" />

</head>

<body style="background-color: #f8f8f8;height:100vh;">

    {% block content %}
    {% endblock %}

    <script src="{% static "/appli/js/jquery.min.js" %}"></script>
    <script src="{% static "/appli/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/appli/js/metisMenu.js" %}"></script>
    <script src="{% static "/appli/js/sb-admin-2.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit-icons.min.js"></script>

    <script>
        $( document ).ready(function() {
            $('input').addClass('form-control')
        });
    </script>
</body>

</html>
